<div class="row">
  <main class="col-md-12">
    <!-- Start your code here -->
    <article>
      <header class="welcome-header">
        <h2>Welcome to WEB700 Assignment3</h2>
      </header>
      <p>
        Welcome to my website, I will be demonstrating
        <strong>HTML5</strong>
        <strong>principles</strong>
        and
        <strong>techniques</strong>,
        <strong>Routing</strong>
        in
        <strong>Express</strong>
      </p>

      <h3>Website introduction</h3>
      <p>
        This site consists of 3 static views (<a href="/">Home</a>,
        <a href="/about">About</a>,
        <a href="/htmlDemo">HTML Demo</a>) as well as 5 routes that supply data
        , including:
        <a href="/students">All Students</a>,
        <a href="/students?course=5">Students by Course</a>,
        <a href="/student/6">A Single Student By Student Number</a>,
        <a href="/tas">All Managers</a>
        and
        <a href="/courses">All Courses</a>.
      </p>

      <h3>About HTML 5</h3>
      <p>
        This site utilizes HTML5: a markup language used for structuring and
        presenting content on the World Wide Web
      </p>
    </article>

    <!-- End your code here  -->
  </main>
</div>