<div class="row">
  <main class="col-md-12">
    <!-- Start your code here -->
    <article>
      <header>
        <h3>Tables</h3>
      </header>
      <table>
        <caption>
          Test tables
        </caption>

        <thead>
          <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1</td>
            <td rowspan="2">Red</td>
            <td>$5.60</td>
          </tr>
          <tr>
            <td>3</td>
            <td>$3.00</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Blue</td>
            <td>$1.50</td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <th colspan="2">Total</th>
            <th>$26.60</th>
          </tr>
        </tfoot>
      </table>
      <p>The content above demonstrate the table content in HTML 5.</p>
    </article>

    <article>
      <header>
        <h3>List</h3>
      </header>
      <p>Ordered List:</p>
      <ol>
        <li>first ordered item</li>
        <li>second ordered item</li>
        <li>third ordered item</li>
        <li>fourth ordered item</li>
        <li>
          <p>Unordered list:</p>
          <ul>
            <li>To build web applications</li>
            <li>To impress friends</li>
            <li>To have fun 😃</li>
          </ul>
        </li>
      </ol>
      <p>
        The content above demonstrate the Ordered list and Unordered list in
        HTML 5.
      </p>
    </article>
    <article>
      <header>
        <h3>Images:</h3>
      </header>
      <img
        src="/imgs/seneca_k.jpeg"
        alt="seneca k building"
        width="500"
        height="200"
      />
      <img
        src="/imgs/seneca_k_1.jpeg"
        alt="seneca k building front face"
        width="500"
        height="200"
      />
      <img
        src="/imgs/seneca_outside.jpeg"
        alt="seneca outside picture"
        width="500"
        height="200"
      />
      <p>The content above demonstrate the images in HTML 5.</p>
    </article>
    <article>
      <header>
        <h3>Audio</h3>
      </header>
      <audio controls>
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-audio.mp3"
          type="audio/mp3"
        />
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-audio.ogg"
          type="audio/ogg"
        />
      </audio>
      <p>The content above demonstrate the audio in HTML 5.</p>
    </article>
    <article>
      <header>
        <h3>Video</h3>
      </header>
      <video width="320" height="240" controls>
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.mp4"
          type="video/mp4"
        />
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.ogg"
          type="video/ogg"
        />
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.webm"
          type="video/webm"
        />
        <p>Sorry, your browser doesn't support HTML5 video</p>
      </video>
      <p>The content above demonstrate the video in HTML 5.</p>
    </article>
    <!-- End your code here  -->
  </main>
</div>